.svg-fill {
	fill: #262626;
	transition: fill 0.3s;
}

.svg-stroke {
	fill: none;
	stroke: #262626;
	transition: stroke 0.3s;
}

.svg-arrow-left,
.svg-arrow-right {
	width: 16px;
	height: 16px;
}

.svg-chevron-down {
	stroke: #0050A2;
	stroke-width: 3px;
}