.accent-text {
	margin: 32px 0;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	border-left: 4px solid #FFB424;
	padding-left: 24px;

	a {
		color: #0050A2;
		@include hover-opacity;
	}
}

@include media-breakpoint-down(md) {
	.accent-text {
		padding-left: 12px;
	}
}