.advants-text {
	margin-top: 26px;
	margin-bottom: 26px;

	&__col-text {
		@include col-width(488 + 20, 915);
	}

	&__col-images {

		img {

			&:nth-child(n + 2) {
				margin-top: 20px;
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.advants-text {

		&__col-text,
		&__col-images {
			flex-basis: 100%;
			max-width: none;
		}

		&__col-images {
			order: -1;
			margin-bottom: 20px;
		}
	}
}