.country-select {
	max-width: 246px;

	.select {
		&__button {
			background: #F5F5F5;
			color: #262626;
			transition: background 0.3s;

			&:hover {
				background-color: #eee;
			}
		}
	}

	+ .courses-list {
		margin-top: -4px;
	}
}