.input, .textarea {
	width: 100%;
	padding: 0 12px;
	height: 38px;
	font-size: 14px;
	background: #FFFFFF;
	border-radius: 5px;
	border: none;

	&::placeholder {
		color: #8C8C8C;
	}
}

.textarea {
	height: 150px;
	resize: none;
	padding: 12px;
	line-height: 22px;
}