.main-news {
	margin: 60px 0;

	&__list {
		margin-top: 24px;
	}

	&__item {
		margin-top: 16px;
	}

	&__button-all-wrap {
		margin-top: 40px;
		text-align: center;
	}
}

@include media-breakpoint-down(md) {
	.main-news {
		margin: 40px 0;

		&__list {
			margin-top: 0;
		}
	}
}