.partner-reviews {

	&__list {
		margin-top: -18px;
		margin-left: -9px;
		margin-right: -9px;
	}

	&__item {
		margin-top: 18px;
		padding-left: 9px;
		padding-right: 9px;
		flex: 0 0 20%;
		max-width: 20%;
	}

	&__item-box {
		border: 1px solid #E5E5E5;
		padding: 7px;
		height: 100%;
	}

	&__img-box {
		@include hover-opacity;

		img {
			width: 100%;
		}
	}

	&__pagination {
		margin-top: 32px;
	}
}

@include media-breakpoint-down(md) {
	.partner-reviews {

		&__item {
			flex-basis: 50%;
			max-width: 50%;
		}
	}
}