.reviews {
	margin-top: 32px;
	position: relative;

	&__link-all {
		position: absolute;
		top: 8px;
		right: 0;
		font-size: 14px;
		line-height: 17px;
		color: #0050A2;
		@include hover-opacity;
	}

	&__slider {
		margin-top: 49px;
	}

	&__item-box {
		display: flex;
		align-items: flex-start;

		&:nth-child(n + 2) {
			margin-top: 32px;
		}
	}

	&__img-box {
		@include img-box-ratio(1);
		width: 95px;
		flex-shrink: 0;
		border-radius: 10px;
		overflow: hidden;
	}

	&__item-content {
		margin-left: 16px;
	}

	&__item-title {
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
	}

	&__item-date {
		font-size: 14px;
		line-height: 17px;
		color: #8C8C8C;
	}

	&__item-descr {
		margin-top: 8px;
		font-size: 14px;
		line-height: 17px;
		color: #333333;
	}

	&__item-link {
		margin-top: 8px;
		display: inline-block;
		font-size: 14px;
		line-height: 17px;
		color: #0050A2;
		text-decoration-line: underline;
		@include hover-opacity;
	}

	&__buttons {
		margin-top: 16px;
		display: flex;
	}

	&__prev,
	&__next {
		background: #F1F8F8;
		@include hover-opacity;
	}

	&__next {
		margin-left: 8px;
	}
}

@include media-breakpoint-down(md) {
	.reviews {

		&__slider {
			margin-top: 32px;
		}

		&__item-box {
			flex-direction: column;
		}

		&__item-content {
			margin-top: 12px;
			margin-left: 0;
		}
	}
}