.text {
	margin-top: 26px;
	margin-bottom: 26px;
	font-size: 16px;
	line-height: 22px;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	ul, ol, p, table {

		&:nth-child(n + 2) {
			margin-top: 22px;
		}
	}

	ul {

		> li {

			&::before {
				content: '∙ ';
				color: #0050A2;
			}
		}
	}

	a {
		color: #0050A2;
		text-decoration: underline;
		@include hover-opacity;
	}

	table {
		width: 100%;
		border-collapse: separate;
		font-size: 14px;
		line-height: 17px;
	}

	tr {

		&:nth-child(n + 2) {

			td {
				border-top: none;
			}
		}

		&:first-child {

			th, td {

				&:first-child {
					border-top-left-radius: 5px;
				}

				&:last-child {
					border-top-right-radius: 5px;
				}
			}
		}

		&:last-child {

			th, td {

				&:last-child {
					border-bottom-right-radius: 5px;
				}

				&:first-child {
					border-bottom-left-radius: 5px;
				}
			}
		}
	}

	th, td {
		padding: 20px 24px;
		border: 1px solid #EEEEEE;

		&:nth-child(n + 2) {
			border-left: none;
		}
	}

	th {
		text-align: left;
		font-weight: 700;
		background: #F5F5F5;
	}

	.table-center {

		th, td {
			text-align: center;
			vertical-align: middle;
			padding-left: 8px;
			padding-right: 8px;
		}
	}

	.table-two-col {

		tr {

			&:nth-child(n + 2) {

				th {
					padding-top: 32px;
					padding-bottom: 8px;
				}

				td {
					padding-top: 16px;
				}
			}
		}

		th, td {
			border: none;
			padding: 0;

			&:nth-child(1) {
				width: math.div(100% * 248, 847);
				padding-right: 20px;
			}
		}

		th {
			background: none;
		}

		td {

			&:nth-child(1) {
				color: #5D5D64;
			}
		}

		li {

			&:nth-child(n + 2) {
				margin-top: 12px;
			}
		}
	}

	.text-info-icon {
		padding-left: 12px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			left: -5px;
			top: 1px;
			background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.77C5.20667 11.77 4.46 11.6207 3.76 11.322C3.06 11.0233 2.444 10.6127 1.912 10.09C1.38933 9.558 0.978667 8.942 0.68 8.242C0.381333 7.542 0.232 6.79533 0.232 6.002C0.232 5.19933 0.381333 4.45267 0.68 3.762C0.978667 3.062 1.38933 2.45067 1.912 1.928C2.444 1.396 3.06 0.980666 3.76 0.681999C4.46 0.383333 5.20667 0.233999 6 0.233999C6.80267 0.233999 7.54933 0.383333 8.24 0.681999C8.94 0.980666 9.55133 1.396 10.074 1.928C10.606 2.45067 11.0213 3.062 11.32 3.762C11.6187 4.45267 11.768 5.19933 11.768 6.002C11.768 6.79533 11.6187 7.542 11.32 8.242C11.0213 8.942 10.606 9.558 10.074 10.09C9.55133 10.6127 8.94 11.0233 8.24 11.322C7.54933 11.6207 6.80267 11.77 6 11.77ZM6 10.986C6.69067 10.986 7.33467 10.86 7.932 10.608C8.53867 10.3467 9.07067 9.98733 9.528 9.53C9.98533 9.07267 10.34 8.54533 10.592 7.948C10.8533 7.34133 10.984 6.69267 10.984 6.002C10.984 5.31133 10.8533 4.66733 10.592 4.07C10.34 3.46333 9.98533 2.93133 9.528 2.474C9.07067 2.01667 8.53867 1.662 7.932 1.41C7.33467 1.14867 6.69067 1.018 6 1.018C5.30933 1.018 4.66067 1.14867 4.054 1.41C3.45667 1.662 2.92933 2.01667 2.472 2.474C2.01467 2.93133 1.65533 3.46333 1.394 4.07C1.142 4.66733 1.016 5.31133 1.016 6.002C1.016 6.69267 1.142 7.34133 1.394 7.948C1.65533 8.54533 2.01467 9.07267 2.472 9.53C2.92933 9.98733 3.45667 10.3467 4.054 10.608C4.66067 10.86 5.30933 10.986 6 10.986ZM6 3.636C5.62667 3.636 5.44 3.454 5.44 3.09C5.44 2.726 5.62667 2.544 6 2.544C6.14933 2.544 6.27533 2.59067 6.378 2.684C6.49 2.768 6.546 2.90333 6.546 3.09C6.546 3.27667 6.49 3.41667 6.378 3.51C6.27533 3.594 6.14933 3.636 6 3.636ZM5.538 8.788V4.28H6.462V8.788H5.538Z' fill='%230050A2'/%3E%3C/svg%3E%0A");
			width: 12px;
			height: 12px;
		}
	}

	&--small {
		font-size: 14px;
		line-height: 17px;

		ul, ol, p, table {

			&:nth-child(n + 2) {
				margin-top: 17px;
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.text {

		th, td {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}