.text {
	margin-top: 26px;
	margin-bottom: 26px;
	font-size: 16px;
	line-height: 22px;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	ul, ol, p, table {

		&:nth-child(n + 2) {
			margin-top: 22px;
		}
	}

	ul {

		> li {

			&::before {
				content: '∙ ';
				color: #0050A2;
			}
		}
	}

	a {
		color: #0050A2;
		text-decoration: underline;
	}

	table {
		width: 100%;
		border-collapse: separate;
		font-size: 14px;
		line-height: 17px;
	}

	tr {

		&:nth-child(n + 2) {

			td {
				border-top: none;
			}
		}

		&:first-child {

			th, td {

				&:first-child {
					border-radius: 5px 0 0 0;
				}

				&:last-child {
					border-radius: 0 5px 0 0;
				}
			}
		}

		&:last-child {

			th, td {

				&:last-child {
					border-radius: 0 0 5px 0;
				}

				&:first-child {
					border-radius: 0 0 0 5px;
				}
			}
		}
	}

	th, td {
		padding: 20px 24px;
		border: 1px solid #EEEEEE;

		&:nth-child(n + 2) {
			border-left: none;
		}
	}

	th {
		text-align: left;
		font-weight: 700;
		background: #F5F5F5;
	}

	.table-center {

		th, td {
			text-align: center;
			vertical-align: middle;
			padding-left: 8px;
			padding-right: 8px;
		}
	}
}

@include media-breakpoint-down(md) {
	.text {

		th, td {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}